* {
  margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;*/
	font: inherit;
	vertical-align: baseline;
}

.background--custom {
  background-color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  z-index: -2;
  top: 0;
  left: 0;
}
canvas#canvas {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(0deg) scale(2) translateY(0%);
  --gradient-color-1: #004643; 
  --gradient-color-2: #abd1c6; 
  --gradient-color-3: #E16162;  
  --gradient-color-4: #f9bc60;
  --gradient-speed: 0.000015;
}

.items {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  max-width: 640px;
  flex-grow: 1;
}

html {
  min-height: 100%;
  height: fit-content;
}

body {
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  min-height: 100%;
  height: fit-content;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner-image {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 7rem;
}

.name {
  color: #fffffe;
  display: flex;
  justify-content: center;
  text-transform:lowercase;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 2rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-icons a {
  color: #fffffe;
  text-decoration: none;
  font-size: 1.5rem;
}

.thumbnail {
  width: 3rem;
  height: 3rem;
  object-fit:cover;
  border-radius: 2.5rem;
}

.link-list {
  display: flex;
  flex-flow: wrap column;
  gap: 1.5rem;
}

.link {
  background-color: #ffffff77;
  border-radius: 2.5rem;
  padding: 0.1rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
}

.link a {
  color: #001e1d;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.link a span {
  text-align: center;
  flex-grow: 1;
  padding: 0.2rem;
}
