* {
  margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;*/
	font: inherit;
	vertical-align: baseline;
}

.items {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  max-width: 640px;
  flex-grow: 1;
}

body {
  padding: 2rem 1rem;
  background-color: #004643;
  display: flex;
  justify-content: center;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner-image {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 5rem;
}

.name {
  color: #fffffe;
  display: flex;
  justify-content: center;
  text-transform:lowercase;
  font-family: 'Nanum Myeongjo', serif;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-icons a {
  color: #fffffe;
  text-decoration: none;
}

.thumbnail {
  width: 2.5rem;
  height: 2.5rem;
  object-fit:cover;
  border-radius: 2.5rem;
}

.link-list {
  display: flex;
  flex-flow: wrap column;
  gap: 1.5rem;
}

.link {
  background-color: #f9bc60 ;
  border-radius: 2.5rem;
  padding: 0.1rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.link a {
  color: #001e1d;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.link a span {
  text-align: center;
  flex-grow: 1;
  padding: 0.2rem;
}
